<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yinkoumeiqi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" ></uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" ></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/company"
        android:label="@string/company"
        android:theme="@style/Theme.AppStartLoadTranslucent" >
        <activity
            android:name="com.example.yinkoumeiqi.StartActivity"
            android:label="@string/company" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.yinkoumeiqi.MainActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity android:name="com.example.yinkoumeiqi.DetailInfoActivity" >
        </activity>
        <activity android:name="com.example.yinkoumeiqi.ImageVIewActivity" >
        </activity>
        <activity
            android:name="com.example.user.ArrearageActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible"  >
        </activity>
        <activity
            android:name="com.example.user.GasQueryActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible" >
            
        </activity>
        <activity
            android:name="com.example.user.UserQueryActivity"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity android:name="com.example.user.ChargeActivity" 
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity android:name="com.example.user.PrefecthActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity android:name="com.example.user.TextActivity" >
        </activity>
    </application>

</manifest>